@font-face {
  font-family: 'Code-Pro-Light';
  src: url('../fonts/Code-Pro-Light.eot?iefix') format('eot'),
  url('../fonts/Code-Pro-Light.woff') format('woff'),
  url('../fonts/Code-Pro-Light.ttf') format('truetype'),
  url('../fonts/Code-Pro-Light.svg#webfont') format('svg'),
  url('../fonts/Code-Pro-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('../fonts/HelveticaNeue-Light.eot?iefix') format('eot'),
  url('../fonts/HelveticaNeue-Light.woff') format('woff'),
  url('../fonts/HelveticaNeue-Light.ttf') format('truetype'),
  url('../fonts/HelveticaNeue-Light.svg#webfont') format('svg'),
  url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

header{
	width: 100%;
	height: 370px;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
}

header .row{
	height: 370px;
	padding-bottom: 30px;
}

.container{
	position: relative;
}

#bg_parallax{
	width: 100%;
	height: 350px;
	position: absolute;
}

#bg_parallax div{
	background-image: url(../images/stadium_bg.jpg), url(../images/bg_repeat.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat, repeat;
	position: absolute !important;
	left: -5% !important;
	right: -5% !important; 
	top: -5% !important;
	bottom: -5% !important;
}

#parallax{
	position: absolute !important;
	height: 370px;
	width: 100%;
	overflow: hidden;
}

.footballer{
	width: 640px;
	height: 282px;
	position: absolute !important;
	bottom: 15px !important;
	left: 100px !important;
	top: auto !important;
}

.ball_header{
	position: absolute !important;
	width: 80px;
	height: 80px;
	left: 610px !important;
	bottom: 230px !important;
	top: auto !important;
	transition: margin 0.3s;
}

.ball_header_hovered{
	margin-left: 50px;
}

.ball_header_kicked{
	margin-left: 100%;
}

.create{
	text-align: center;
}

h1{
	color: #fff;
	font-family: 'Code-Pro-Light';
	font-size: 28px;
	text-transform: uppercase;
	width: 70%;
	display: inline-block;
	text-align: left;
}

h1 span{
	font-size: 45px;
	margin: 10px 0;
	display: block;
}

.button{
	width: 90%;
	font-size: 26px;
	font-family: 'Code-Pro-Light';
	color: #001a3c;
	text-decoration: none !important;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.7);
	margin-bottom: 20px;
	transition: 0.3s;
}

.button:hover{
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 20px 4px rgba(255, 255, 255, 0.9);
}

.create p{
	font-family: 'Code-Pro-Light';
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
}

.create p a{
	color: #fff;
	text-decoration: none !important; 
	margin-left: 10px;
	padding: 2px 5px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	transition: 0.3s;
}

.create p a:hover{
	color: #001a3c;
	background-color: rgba(255, 255, 255, 0.8);
}

.mobile_block{
	display: none;
}

section{
	background-color: #0ea728;
	padding: 40px 0;
	position: relative;
	z-index: 999;
}

#first{
	margin-top: 368px;
}

.main_person{
	margin-bottom: 40px;
}

.main_person > div{
	float: left;
}

.photo_p{
	width: 150px;
	text-align: right;
}

.photo_p a{
	display: inline-block;
	position: relative;
}

.photo_p img{
	border-radius: 100%;
	border: 3px solid #fff;
	width: 100px;
	overflow: hidden;
}

.points{
	position: absolute;
	bottom: 5px;
	right: 5px;
	background-color: #6ce981;
	border-radius: 100%;
	min-width: 14px;
	text-align: center;
	font-family: 'Code-Pro-Light';
	font-weight: 700;
	color: #001a3c;
	padding: 1px 4px;
}

.text_p{
	margin-left: 30px;
	color: #fff;
	font-family: 'HelveticaNeue-Light';
	font-size: 22px;
}

h2 a{
	font-size: 50px;
	text-transform: uppercase;
	font-family: 'Code-Pro-Light';
	text-decoration: none !important;
	color: #fff !important;
}

.text_p p{
	margin-bottom: 0;
}

.download_link{
	color: #fff !important;
	font-family: 'Code-Pro-Light';
	text-decoration: none !important;
	opacity: 0.6;
	transition: 0.2s;
	position: relative;
	font-size: 14px;
}

.download_link:hover{
	opacity: 1;
}

.download_link:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 45px;
	background-image: url(../images/download_icon.png);
	background-size: 100% auto; 
	background-repeat: no-repeat;
	left: 0;
	top: -50px;
}

.slogan{
	position: relative;
}

.slogan pre{
	color: #fff;
	font-family: 'HelveticaNeue-Light';
	font-size: 30px;
	padding: 25px;
	border: 20px solid #fff;
	min-height: 300px;
	margin: 0;
}

.slogan:before{
	content: '';
	position: absolute;
	width: 100px;
	height: 53px;
	background-image: url(../images/corner.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	top: -33px;
	left: 50px;
}

.share{
	text-align: center;
}

.share p{
	font-family: 'Code-Pro-Light';
	color: #fff;
	font-size: 23px;
}

.share p span{
	display: block;
	background-color: rgba(42, 89, 50, 0.7);
	font-size: 30px;
}

.share input{
	border: 0;
	width: 100%;
	padding-left: 10px;
	color: #03881a;
}

.copy{
	position: absolute;
	text-align: center;
	width: 65px;
	height: 22px;
	background-color: rgba(14, 167, 40, 0.5);
	right: 17px;
	color: #fff;
	font-size: 14px;
	z-index: 10;
	cursor: pointer;
	bottom: 2px;
	transition: 0.3s;
}

.copy:hover{
	background-color: rgba(14, 167, 40, 0.9);
}

h3{
	font-family: 'Code-Pro-Light';
	color: #fff;
	font-size: 50px; 
	text-align: center;
	margin: 45px 0;
}

.users_row{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 30px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.users_row .photo_p{
	display: inline-block;
	width: auto;
}

.users_row .photo_p img, .rating .photo_p img{
	width: 70px;
}

.users_row .points, .rating .points{
	right: 2px;
	bottom: 2px;
	font-size: 15px;
}

.users_row .points{
	background-color: #fff;
}

.slogan_slider{
	width: 100%;
	position: relative;
}

.slogan_slide{
	margin-right: 15px;
}

.slogan_slide a{
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
	border: 10px solid rgba(9, 110, 26, 0.6);
	transition: 0.3s;
}

.slogan_slide a:hover{
	border-color: rgba(9, 110, 26, 1);
}

.slogan_slide a img{
	max-width: 100%;
	margin: auto;
}

.slick-arrow{
	font-size: 0;
	padding: 0;
	border: 0;
	position: absolute;
	top: calc(50% - 25px);
	width: 50px;
	height: 50px;
	background-color: transparent;
	cursor: pointer;
	z-index: 99;
}

.slick-arrow:before{
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	border-radius: 100%;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: 55% 50%;
	background-size: auto 50%;
	cursor: pointer;
	top: 0;
	left: 0;
}

.slick-arrow:focus{
	outline: none;
}

.slick-next{
	right: -45px;
}

.slick-prev{
	left: -60px;
	transform: rotate(180deg);
}

.slogan_slider{
	margin-bottom: 30px;
}

.no_margin{
	margin-bottom: 0;
}

.rating_con{
	margin-top: 20px;
}

.rating{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0px;
	margin-bottom: 10px;
	transition: 0.3s;
	border-radius: 5px;
}

.rating > div{
	width: 85%;
	display: flex;
	align-items: center;
}

.rating:nth-of-type(-n + 3){
	padding: 35px 0;
	background-color: #0b761d;
}

.rating:hover{
	background-color: #0b761d;
}

.rating:nth-of-type(-n + 3):hover{
	background-color: #084f14;
}

.rating .photo_p{
	width: auto;
}

.rating .photo_p .points{
	background-color: #fff;
}

.rating h2 a{
	font-size: 35px;
}

.place{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background-color: #0b761d;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto; 
	font-family: 'Code-Pro-Light';
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.rating:nth-of-type(-n + 3) .place{
	color: #0b761d;
}

.rating:first-of-type .place{
	background-color: #f9f707;
}

.rating:nth-of-type(2) .place{
	background-color: #bab4b7;
}

.rating:nth-of-type(3) .place{
	background-color: #a3721c;
}

.more{
	width: 100%;
	text-align: center;
}

.more a{
	display: inline-block;
	text-align: center;
	padding: 2px 5px 2px 10px;
	font-size: 11px;
	letter-spacing: 7px;
	color: #fff;
	text-decoration: none !important;
	background-color: #0b761d;
	transition: 0.3s;
}

.more a:hover{
	background-color: #084f14;
}

.ball_footer{
	position: absolute;
	width: 100px;
	bottom: 0;
	right: 0;
	animation: bounce 2s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
}

.ball_footer img{
	max-width: 100%;
}

.a2a_default_style{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.a2a_default_style div{
	display: none;
}
.a2a_default_style a{
	padding: 0 !important;
}

.a2a_default_style img{
	width: 50px;
}

@keyframes bounce {
  from, to {
    bottom: 60px;
    height: 100px;
  }
  80% {
    bottom: 140px;
    height: 100px;
  }
}

@media screen and (max-width: 1040px){
	.slick-prev{left: -40px}
	.slick-next{right: -20px;}
	.create:not(.mobile_block){display: none;}
	.mobile_block{display: block; margin-top: 40px;}
	.users_row{display: block; text-align: center; width: 100%;}
	.users_row .photo_p{margin-bottom: 20px; margin-left: 20px;}
	.slogan_link{width: 90%; margin: auto;}
	.download_link{display: none;}
	.photo_p{width: auto;}
	h2 a{font-size: 40px;}
	.text_p p{font-size: 16px;}
	.rating h2 a{font-size: 30px;}
	.ball_footer{display: none;}
	h1, .button{width: 100%}
}

@media screen and (max-width: 500px){
	.photo_p, .photo_p img{width: 60px !important;}
	h2 a{font-size: 25px;}
	.text_p{width: calc(100% - 80px); margin-left: 10px;}
	.text_p p{font-size: 14px;}
	.slogan pre{font-size: 14px; padding: 5px; border-width: 10px; min-height: 0;}
	.slogan:before{width: 50px; height: 27px; top: -17px; left: 35px;}
	h3{font-size: 30px; margin: 20px 0;}
	.points{font-size: 12px; bottom: 2px; right: 2px;}
	.users_row .photo_p{margin-left: 0;}
	.slogan_link{width: 80%;}
	.slogan_slide a{border-width: 7px;}
	.slick-arrow:before, .slick-arrow{width: 30px; height: 30px;}
	.slick-next{right: -5px;}
	.slick-prev{left: -5px;}
	.footballer{width: 80%; height: auto; left: 10px !important;}
	.ball_header{bottom: 60% !important; right: 80px !important;left: auto !important; width: 40px; height: 40px;}
	header .row, #parallax, #bg_parallax div, #bg_parallax, header{height: 200px;}
	#first{margin-top: 190px;}
	.rating > div{width: 100%; padding: 0 5px;}
	.place{font-size: 20px; width: 40px; height: 40px;}
	.rating .text_p{width: auto !important;}
	.rating h2 a{font-size: 20px;}
	.rating{width: 95%; margin-left: auto; margin-right: auto; padding-left: 5px !important; padding-right: 5px !important;}
	.a2a_default_style, .share input, .share_text{width: calc(50% - 10px); margin-top: 20px}
	.a2a_default_style{float: right;}
	.share_text{float: left; margin-right: 10px;}
	.share input{float: right;}
	.share p span{font-size: 20px}
	.share p{font-size: 14px; margin-bottom: 5px;}
	.a2a_default_style{margin-bottom: 0;}
	.a2a_default_style img{width: 25px;}
	.share input{margin-top: 5px; font-size: 12px;}
	.copy{font-size: 12px; width: 40px; bottom: 12px; height: 18px;}
	h1{font-size: 25px; text-align: center;}
	h1 span{font-size: 39px;}
	.slogan_slide{margin: 0;}
}