<% if user_signed_in? %>
  <p><%= link_to 'Создать кричалку', new_user_chant_path(current_user) %></p>
<% else %>
  <p>
    <a href="https://oauth.vk.com/authorize?client_id=6609013&display=popup&redirect_uri=https%3A%2F%2Ffootball-chatbot.herokuapp.com%2Fcallback&response_type=code&scope=friends%2Cphotos%2Cgroups%2Cemail&v=5.80">Создать
      кричалку</a><br/>
  </p>
<% end %>
